Flask==3.1.0
Flask-Migrate==4.1.0
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
PyMySQL==0.9.3
SQLAlchemy==2.0.38
gunicorn

bcrypt==3.2.0
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.1
scipy==1.9.3

tensorflow-cpu==2.6.0  # ✅ Works on Heroku
keras==2.6.0  # ✅ Must match TensorFlow version

h5py==3.12.1
opt_einsum==3.3.0
Pillow==9.4.0
